$orangeTron: #DF740C;
$yellowTron: #FFE64D;
$lightblueTron: #E6FFFF;
$cyanTron: #18CAE6;
$basestar: #0C141F;
$greyTron: #D8DAE7;
$deepblueTron: #34608D;
$eightiesPurple: #541388;
$eightiesYellow:#F9C80E;
$eightiesPink:#FF4365;
$eightiesCyan: #2DE2E6;
$eightiesOrange:#FF6C11;
$eightiesBlue: #507fa5;
$eightiesDarkPurple: #663054;